#! /usr/bin/env bash

# source python virtualenv in .venv folder
if [ -d .venv ]; then
    source .venv/bin/activate
fi

# load env variables from .env file
if [ -f .env ]; then
    export $(cat .env | sed 's/#.*//g' | xargs)
fi
